@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.container {
    display: flex;
}

.left {
    width: 28vw;
    padding: 10px;
}

.right {
    width: 70vw;
    margin: 16px 0;
    position: relative;
}

.home {
    padding: 25px;
}

.home ul li {
    list-style: none;
}

.home ul li a {
    display: flex;
    gap: 15px;
    text-decoration: none;
    color: white;
    width: 14px;
    padding-top: 14px;
    font-weight: bold;
    cursor: pointer;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 75vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 15px 0;
}

.footer a {
    color: #a7a7a7;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #181818;
    border-radius: 7px;
}

.header>* {
    padding: 20px;
}

.header .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0 40px;
}

.changebtns-nav {
    cursor: not-allowed;
}

.logo img {
    width: 110px;
}

.spotify-playlists {
    padding: 15px;
}

.spotify-playlists h1 {
    padding: 15px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 40px;
    height: 70vh;
    overflow-y: auto;
}

.card {
    width: 200px;
    height: 300px;
    padding: 13px 13px 50px 13px;
    border-radius: 5px;
    background-color: #181818;
    position: relative;
    transition: all 100ms ease-in-out;
    margin-bottom: 20px;
    cursor: pointer;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.card:hover {
    .play {
        top: 160px;
        opacity: 1;
    }

    background-color: #282828;
    scale: 1.01;
    border-radius: 10px;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    top: 290px;
    right: 20px;
    opacity: 0;
    transition: all 500ms ease-in-out, scale 100ms ease-in-out;
    cursor: pointer;
}

.play:hover {
    scale: 1.1;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: #181818;
    color: #a7a7a7;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    scale: 1.05;
    color: white;
}

.loginbtn {
    border: 2px solid white;
    background-color: white;
    color: black;
    width: 90px;
    padding: 10px 18px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    scale: 1.05;
    font-weight: bolder;
}

.playbar {
    position: fixed;
    bottom: 25px;
    filter: invert(1);
    background-color: #dad5d5;
    border-radius: 25px;
    width: 67vw;
    padding: 12px;
    min-height: 40px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 15px;
    position: relative;
    top: 9px;
}

.song-list .info {
    font-size: 14px;
    width: 344px;
    display: flex;
    justify-content: center;
    padding-left: 25px;
    flex-direction: column;
}

.info div {
    word-wrap: break-word;
    word-break: break-all;
}

.song-list {
    height: 640px;
    overflow: auto;
    margin-bottom: 34px;
}

.song-list ul {
    padding: 0 12px;
}

.song-list ul li {
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    margin: 12px 0;
    padding: 13px;
    border: 1px solid white;
    justify-content: space-between;
    border-radius: 5px;
    transition: all 150ms ease-in-out;
}

.song-list ul li:hover {
    scale: 1.01;
}

.playnow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playnow span {
    font-size: 14px;
    width: 100px;
    padding: 12px;
}

.seekbar {
    height: 4px;
    width: 95%;
    margin: 11px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 20px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 200ms ease-in-out;
}

.songbuttons img {
    cursor: pointer;
    width: 30px;
}

.songbuttons img:hover {
    scale: 1.05;
}

.download {
    margin-top: 5px;
}

.download span {
    color: black;
    font-weight: 600;
    margin-right: 5px;
    font-size: 17px;
}

.download {
    cursor: pointer;
}

.download img {
    width: 28px;
}

.download:hover {
    scale: 1.02;
}

.songinfo {
    width: 255px;
}

.songtime {
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.songinfo,
.songtime {
    padding: 0 25px;
    color: black;
    font-weight: 500;
    font-size: 18px;
    scale: 1.05;
}

.abovebar {
    display: flex;
    justify-content: space-between;
}

.abovebar * {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.hamburger {
    display: none;
}

.close {
    display: none;
}

.time-volume {
    display: flex;
    margin: 0 15px;
    padding: 0 20px;
    width: 500px;
}

.volume {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 20px;
    top: 5px;
    left: 30px;
}

.volume img {
    cursor: pointer;
}

.range {
    position: relative;
    top: 5px;
}

.range {
    width: 200px;
}

input[type="range"] {
    appearance: none;
    width: 65%;
    height: 10px;
    background: #ddd;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb:hover {
    background: #45a049;
}

.changebtns-nav {
    opacity: 0.5;
}

/* Making it responsive */

@media (max-width: 1500px) {
    .left {
        position: absolute;
        left: -140%;
        transition: all 500ms ease-in-out;
        z-index: 1;
        width: 590px;
        background-color: black;
        padding: 0;
    }

    .right {
        width: 100vw;
        margin: 15px;
    }

    .playbar {
        width: calc(100vw - 85px);
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
    }

    .hamburger img {
        height: 35px;
        width: 35px;
    }

    .changebtns-nav {
        display: none;
    }

    .close {
        display: block;
    }

    .close img {
        height: 35px;
        width: 35px;
        position: absolute;
        right: 50px;
        top: 60px;
    }

    .card-container {
        justify-content: center;
        margin: 0;
    }

    .card:hover {
        scale: 1.1;
    }

    .abovebar {
        flex-direction: column;
        gap: 20px;
    }

    .abovebar>* {
        padding: 5px 0;
    }

    .songbuttons img {
        width: 40px;
    }

    .songtime {
        padding-bottom: 30px;
    }

    .songinfo,
    .songtime {
        font-size: 1.5em;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .download span {
        font-size: 1.5em;
    }

    .spotify-playlists {
        height: 83vh;
    }

    .time-volume {
        width: 96%;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 15px;
    }

    #lastcard {
        margin-bottom: 255px;
    }
}

@media (max-width: 600px) {
    .left {
        width: 400px;
    }

    .right {
        margin: 0;
    }

    .spotify-playlists {
        height: 85vh;
    }

    .playbar {
        width: calc(100vw - 60px);
    }
}

@media (max-width: 400px) {
    .buttons {
        padding: 20px 0;
    }

    .buttons button {
        font-size: 13px;
    }

    .loginbtn {
        padding: 12px;
    }

    .card:hover {
        scale: 1.1;
    }
}

@media (max-width: 350px) {
    .card {
        margin-top: 105px;
        scale: 1.05;
    }

    .card:hover {
        scale: 1.1;
    }

}

@media (max-width: 302px) {
    .signupbtn {
        display: none;
    }

    .spotify-playlists h1 {
        font-size: 1.9em;
    }
}